<div class="header">
<!--Start writing your HTML here-->
    <h1>
        A simple Web Development Boilerplate using ejs, less and javascript
        built for multi-page website and hot reloading
    </h1>
</div>