<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Entry App</title>
</head>
<body class="index">
    <h1>
        A simple Web Development Boilerplate using ejs, less and javascript
        built for multi-page website and hot reloading
    </h1>
    <h3>Developing a new web page:</h3>
   <ul>
       <li>To add a new webpage simply create a new file with <b>.ejs</b> extension in the <b>"src/"</b> folder.</li>
       <li>The basic template will be automatically created for you with styles for the new file in <b>styles</b> and <b>javascript</b> in js</li>
       <li>For every new webpage in the <i>src</i> folder, a new <b>.js</b> and <b>.css</b> will be created.</li>
   </ul>

   <h3>After you have finished editing simply run <code><b>npm run build</b></code> to get the production grade files in <code><b>dist</b></code> folder.</h3>
   <p>For SASS version please go to this link: <a href="https://github.com/Himujjal/web-dev-boilerplate-sass">Web Dev Boilerplate SASS</a></p>
</body>
</html>